@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bree Serif", serif;
}

body {
    background-color: #EAF2FF;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: flex-end;
    font-size: 20px;
}

.zetta {
    width: 150px;
    height: 60px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    border-radius: 13px;
    font-size: 1rem;
    gap: 10px;
    padding: 10px;
    -webkit-box-shadow: 10px 10px 23px -4px rgba(189, 189, 189, 1);
    -moz-box-shadow: 10px 10px 23px -4px rgba(189, 189, 189, 1);
    box-shadow: 10px 10px 23px -4px rgba(189, 189, 189, 1)
}

.zetta img {
    height: 30px;
}

.jogos {
    width: 220px;
    height: 105px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 13px;
    font-size: 1.2rem;
    gap: 10px;
    padding: 10px;
    -webkit-box-shadow: 10px 10px 23px -4px rgba(189, 189, 189, 1);
    -moz-box-shadow: 10px 10px 23px -4px rgba(189, 189, 189, 1);
    box-shadow: 10px 10px 23px -4px rgba(189, 189, 189, 1);
    padding-left: 10px;
}

.titulo {
    font-weight: 600;
}

.subtitulo {
    font-size: 15px;
}

.jogos img {
    height: 50px;
    border-radius: 10px;
    border: #EAF2FF solid 4px;
}

.subnav {
    height: 20dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.icones {
    height: 17vh;
    margin-top: 170px;
}

.conjunto {
    padding-top: 100px;
    height: 200px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    font-size: 3.5rem;
    font-weight: 50;
}

.games {
    color: white;
    background-color: blueviolet;
    width: 350px;
    height: 85px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    font-style: italic;
}

.span1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

.subnav2 {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100dvh;
}

section {
    margin-top: 150px;
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

section img {
    width: 100%;
}

.verdinho {
    margin-left: 155dvh;
    margin-top: 20dvh;
}

.verdinho img {
    height: 17vh;
}


.conjunto2 {
    padding-top: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    font-weight: 50;
}

.explore {
    color: white;
    background-color: blueviolet;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    font-style: italic;
    font-size: 2rem;
}

.nossos {
    font-size: 2rem;
}

.p2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
}

.p2 p {
    height: 100px;
    width: 60dvh;
    text-align: center;
}

.app img{
    width: 100%;
}

.app{
    display: flex;
    align-items: center;
    justify-content: center;
}